---
import HomeHero from "../../components/HomeHero.astro";
import PageHeader from "../../components/PageHeader.astro";
import PostFeed from "../../components/PostFeed.astro";
import MainLayout from "../../layouts/MainLayout.astro";
import { getHomePageData } from "../../utils/page-data";
import { getDictionary } from "../../utils/i18n";
import { getHomePermalink, getLocalizedPath } from "../../utils/routing";

const locale = "en" as const;
const dictionary = getDictionary(locale);
const { posts, pagePosts, totalPages } = await getHomePageData(locale);
---

<MainLayout bodyClass="list home">
	<HomeHero locale={locale} postCount={posts.length} />

	<section class="section-stack">
		<PageHeader
			title={dictionary.home.feedTitle}
			description={dictionary.home.feedDescription}
			align="left"
			compact
		/>
		<PostFeed
			posts={pagePosts}
			currentPage={1}
			totalPages={totalPages}
			firstPageUrl={getHomePermalink(locale)}
			pageUrlPattern={getLocalizedPath(locale, "page/{page}")}
		/>
	</section>
</MainLayout>
