---
import { getCollection } from "astro:content";
import HomeHero from "../../components/HomeHero.astro";
import PostFeed from "../../components/PostFeed.astro";
import { siteConfig } from "../../config";
import MainLayout from "../../layouts/MainLayout.astro";
import { getDictionary } from "../../utils/i18n";
import { getHomePermalink, getLocalizedPath, getSearchPermalink } from "../../utils/routing";
import { getHomePosts, getPageItems, getSortedPosts, getTagIndex, getTotalPages } from "../../utils/posts";

const locale = "en" as const;
const dictionary = getDictionary(locale);
const posts = getSortedPosts(await getCollection("posts"), locale);
const homePosts = getHomePosts(posts, siteConfig.featuredCount);
const tagIndex = getTagIndex(posts);
const totalPages = getTotalPages(homePosts.length, siteConfig.postsPerPage);
const pagePosts = getPageItems(homePosts, 1, siteConfig.postsPerPage);
---

<MainLayout bodyClass="list home">
	<HomeHero locale={locale} posts={homePosts} popularTags={tagIndex} />

	<section class="home-section-heading">
		<div>
			<p class="home-section-heading__eyebrow">{dictionary.home.feedTitle}</p>
			<h2>{dictionary.home.feedTitle}</h2>
			<p>{dictionary.home.feedDescription}</p>
		</div>
		<a class="button" href={getSearchPermalink(locale)} data-astro-prefetch="hover">
			{dictionary.home.startSearch}
		</a>
	</section>

	<PostFeed
		posts={pagePosts}
		currentPage={1}
		totalPages={totalPages}
		firstPageUrl={getHomePermalink(locale)}
		pageUrlPattern={getLocalizedPath(locale, "page/{page}")}
	/>
</MainLayout>
