---
import PageHeader from "../../components/PageHeader.astro";
import MainLayout from "../../layouts/MainLayout.astro";
import { hasPublicSiteUrl } from "../../config";
import { getDictionary } from "../../utils/i18n";
import { getHomePermalink, getRssPermalink } from "../../utils/routing";

const locale = "en" as const;
const dictionary = getDictionary(locale);
const isRssAvailable = hasPublicSiteUrl();
const homeHref = getHomePermalink(locale);
const target = getRssPermalink(locale);
---

<MainLayout title={dictionary.rss.redirectTitle} description={dictionary.site.description} bodyClass="list">
	{isRssAvailable && <meta slot="head" http-equiv="refresh" content={`0;url=${target}`} />}

	<section class="rss-redirect surface-card">
		<PageHeader
			title={dictionary.rss.redirectTitle}
			description={isRssAvailable ? dictionary.rss.redirectAvailable(target) : dictionary.rss.redirectUnavailable}
			align="left"
			compact
		/>

		<div class="button-row">
			{isRssAvailable && (
				<a class="button button--primary" href={target}>
					{dictionary.common.rssLabel}
				</a>
			)}
			<a class="button" href={homeHref} data-astro-prefetch="hover">
				{dictionary.common.backHome}
			</a>
		</div>
	</section>
</MainLayout>
