---
import MainLayout from "../../layouts/MainLayout.astro";
import { siteConfig } from "../../config";
import { getDictionary, type SiteLocale } from "../../utils/i18n";
import { getTagIndexPageData } from "../../utils/page-data";
import PageHeader from "../PageHeader.astro";
import TagPill from "../TagPill.astro";

interface Props {
	locale: SiteLocale;
}

const { locale } = Astro.props;
const dictionary = getDictionary(locale);
const { tagIndex } = await getTagIndexPageData(locale);
---

<MainLayout title={dictionary.tags.title} description={dictionary.tags.description} bodyClass="list">
	<PageHeader
		title={dictionary.tags.title}
		description={dictionary.tags.description}
		eyebrow={siteConfig.title}
	/>

	<ul class="terms-tags">
		{tagIndex.map((tag) => (
			<li>
				<TagPill tag={tag.name} count={tag.count} />
			</li>
		))}
	</ul>
</MainLayout>
