---
import { getCollection } from "astro:content";
import MainLayout from "../../layouts/MainLayout.astro";
import { getDictionary } from "../../utils/i18n";
import { getSortedPosts, getTagIndex, getTagPermalink } from "../../utils/posts";

const locale = "zh-cn" as const;
const dictionary = getDictionary(locale);
const posts = getSortedPosts(await getCollection("posts"), locale);
const tagIndex = getTagIndex(posts);
---

<MainLayout title={dictionary.tags.title} description={dictionary.tags.description} bodyClass="list">
	<header class="page-header">
		<h1>{dictionary.tags.title}</h1>
		<p>{dictionary.tags.description}</p>
	</header>

	<ul class="terms-tags">
		{tagIndex.map((tag) => (
			<li>
				<a href={getTagPermalink(locale, tag.slug)} data-astro-prefetch="hover">
					<span>#{tag.name}</span>
					<sup>{tag.count}</sup>
				</a>
			</li>
		))}
	</ul>
</MainLayout>
