---
import MainLayout from "../layouts/MainLayout.astro";
import { DEFAULT_LOCALE, getDictionary, isSiteLocale } from "../utils/i18n";
import { getArchivePermalink, getHomePermalink, stripBasePath, trimSlashes } from "../utils/routing";

const pathSegments = trimSlashes(stripBasePath(Astro.url.pathname)).split("/").filter(Boolean);
const locale = pathSegments[0] && isSiteLocale(pathSegments[0]) ? pathSegments[0] : DEFAULT_LOCALE;
const dictionary = getDictionary(locale);
---

<MainLayout title={dictionary.notFound.title} description={dictionary.notFound.description}>
	<section class="page-header">
		<h1>404</h1>
		<p>{dictionary.notFound.body}</p>
		<div class="button-row">
			<a class="button button--primary" href={getHomePermalink(locale)} data-astro-prefetch="hover">
				{dictionary.notFound.goHome}
			</a>
			<a class="button" href={getArchivePermalink(locale)} data-astro-prefetch="hover">
				{dictionary.notFound.viewArchive}
			</a>
		</div>
	</section>
</MainLayout>
