---
import PageHeader from "../components/PageHeader.astro";
import MainLayout from "../layouts/MainLayout.astro";
import { getDictionary, resolveLocale } from "../utils/i18n";
import { getArchivePermalink, getHomePermalink } from "../utils/routing";

const locale = resolveLocale(Astro.currentLocale);
const dictionary = getDictionary(locale);
const redirectTarget = getHomePermalink(locale);
---

<MainLayout
	title="404"
	description={dictionary.notFound.description}
	bodyClass="list not-found-page"
>
	<meta slot="head" name="robots" content="noindex, nofollow" />
	<script slot="head" is:inline define:vars={{ redirectTarget }}>
		window.setTimeout(() => {
			window.location.replace(redirectTarget);
		}, 5000);
	</script>

	<section class="not-found surface-card">
		<p class="not-found__code">404</p>
		<PageHeader
			title={dictionary.notFound.title}
			description={dictionary.notFound.body}
			align="center"
			compact
		/>
		<p class="not-found__hint">{dictionary.notFound.redirectNotice}</p>
		<div class="button-row button-row--center">
			<a class="button button--primary" href={getHomePermalink(locale)} data-astro-prefetch="hover">
				{dictionary.notFound.goHome}
			</a>
			<a class="button" href={getArchivePermalink(locale)} data-astro-prefetch="hover">
				{dictionary.notFound.viewArchive}
			</a>
		</div>
	</section>
</MainLayout>
