---
import { getDictionary, getLocaleShortName, resolveLocale } from "../utils/i18n";
import { getLocaleAlternates } from "../utils/routing";

const locale = resolveLocale(Astro.currentLocale);
const dictionary = getDictionary(locale);
const alternateLocales = await getLocaleAlternates(Astro.url.pathname, locale);
---

<div class="locale-switch" role="group" aria-label={dictionary.langSwitchLabel}>
	{alternateLocales.map(({ locale: alternateLocale, relativeUrl }) => (
		alternateLocale === locale ? (
			<span class="locale-switch__current" aria-current="page">
				{getLocaleShortName(alternateLocale)}
			</span>
		) : (
			relativeUrl ? (
				<a class="locale-switch__link" href={relativeUrl} data-astro-prefetch="hover">
					{getLocaleShortName(alternateLocale)}
				</a>
			) : (
				<span class="locale-switch__link" aria-disabled="true">
					{getLocaleShortName(alternateLocale)}
				</span>
			)
		)
	))}
</div>
